<div class="flex">
  <h2>Product Manager</h2>
  <button class="btn btn-primary" (click)="changeStatus()">
    Add Product
  </button>
</div>
<form action="" *ngIf="statusDirective" class="mt-3">
  <div class="mb-3">
    <label for="" class="form-label">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="product.name"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Giá sản phẩm</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="product.price"
      name="price"
    />
  </div>
  <button class="btn btn-primary" (click)="onAddProduct()">
    Thêm sản phẩm
  </button>
</form>
<!-- ================== ===== -->
<table class="table mt-5" [ngClass]="myClass">
  <thead>
    <tr>
      <th>STT</th>
      <!-- <th>Ảnh</th> -->
      <th>Tên</th>
      <th>Giá</th>
      <!-- <th>Tình trạng</th> -->
      <!-- <th>Mô tả</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i=index">
      <td>{{i+1}}</td>
      <!-- <td><img [src]="product.img" width="50" /></td> -->
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <!-- <td>{{product.status ? 'Còn hàng': 'Hết hàng'}}</td> -->
      <!-- <td>{{product.desc}}</td> -->
      <td>
        <button class="btn btn-primary" (click)="removeItem(product.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>